<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Clear</title>
    <link rel="stylesheet" href="style.css">
</head>

<h1>Erase All data</h1>

<form action="/clear" method="post" onsubmit="return confirm('Are you sure you would like to remove stories from this date?')">
    <strong>Date: </strong><input type="text" id="date" name="date" placeholder="Type the date you would like to remove i.e. (12/14/2022)" required>
    <input type="submit" id="clear" value = "Erase All Data">
</form>

<hr>
<a href="/">HOME</a>