<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Clear</title>
    <link rel="stylesheet" href="style.css">
</head>

<h1>List Date</h1>
<body>

    <form action="/getDatePost" method="post" >
        Date: <input type="text" id="dateList" name="dateList" placeholder="MM/DD/YYYY"> 
        <input type="submit" value="Get Data!" style="width:120px">
    </form>
    <br>
    <hr>
    <a href="/"> HOME </a><br>
</body>