<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>News Search</title>
    <link rel="stylesheet" href="style.css">
</head>

<h1>Select What you would like to search</h1>

If you would like to search for a keyword within the top 100 news stories select <a href="/keyword">keyword</a>
<br><br>
If you would like clear your saved news stories select <a href="/clear">clear</a>