<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>News Search</title>
    <link rel="stylesheet" href="style.css">
</head>

<h1>Type the keyword you would like to search</h1>

<form action="/keyword" method="post">
    Search: <input type="text" id="key" name="key" placeholder="Type keyword (i.e. SQL)"> 
    <input type="submit">
</form>
