<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Clear</title>
    <link rel="stylesheet" href="style.css">
</head>

<h1>Erase All data</h1>

Removed <%- count %> item(s) from collection <%- collection%>
<hr>
<a href="/">HOME</a>